body,
ul,
li,


body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

/* Menu */  

body,
ul {
  margin: 0px;
  padding: 0px;
}

nav{
  background: lightblue;
}


p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

frame {
  max-width: 100%;
  display: block;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  width: 125px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/* CSS FLEXBOX 1 */

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}

/* CSS GRID 1 */

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.grid1 > div.anuncio {
  grid-column: 1;
  grid-row: 2 / 5;
  border-top: 10px solid tomato;
  display: block;
}

@media (max-width: 600px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid1 > div:nth-child(n + 4) {
    display: block;
  }
  .grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}

/* CSS Grid 2 */

.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.sidebar > div {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: flex;
    overflow: scroll;
  }
  .sidebar > div {
    flex: 1 0 200px;
    margin: 0 10px;
  }
}

/* SECTION GRID 3 */

.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.grid3-item:nth-child(1) {
  grid-row: 1 / 3;
}

.grid3-item {
  display: grid;
}

.grid3-item frame {
  grid-column: 1;
  grid-row: 1/3;
  align-self: end;
}

.grid3-item p {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}

/*Footer*/

.footer{
  background-color: rgb(46, 46, 78);
  margin-top: 20px;
  color: white;
}

.footer_area{
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  
}


body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

/* Menu */  
body,
ul {
margin: 0px;
padding: 0px;
}

nav{
background: lightblue;
}

a {
color: black;
text-decoration: none;
font-family: sans-serif;
}

a:hover {
background: rgba(0, 0, 0, 0.05);
}

#logo {
font-size: 1.5rem;
font-weight: bold;
width: 125px;
}


#btn-mobile {
display: none;
}


@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}
/*Perguntas e respostas*/

.card{
padding: 20px;
margin: 20px;
background-color: rgb(46, 46, 78);
color: white;
border-radius: 10px;
}


.relatos{
margin: 10px;
background-color: rgb(46, 46, 78);
color: white;
padding: 20px;
justify-content: center;
text-align: center;
font-size: 1.5em;
border-radius: 5px;
}

cite{
font-size: 1.1em;
color: white;
}

#maisUm, #maisDois, #maisTres, #maisQuatro, #maisCinco, #maisSeis{
display: none;
}